<div class="main_-_form">

  <%= render 'layouts/flash' %>


    <%= form_for @question do |f| %>
        <center>
        <%= f.text_field :question, placeholder: "Question" %><br />
        
        <%= f.collection_select :topic_id, Topic.only_enabled, :id, :name, prompt: "Please select a topic for the question." %><br />
        <%= f.fields_for :answers do |answer_field| %>
            <%= answer_field.text_field :answer, placeholder: "Answer" %><br />
            <%= answer_field.label :correct %> <br />
            <%= answer_field.check_box :correct %><br />
        <% end %>
        <%= f.submit %>
        </center>
    <% end %>

        <%= render 'welcome/back_admin_menu' %>

</div>
