<%= render 'layouts/header' %>

<div class="container">
  <div class="row">
    <div class="main offset-3 col-6 offset-3">

      <h1>Manage Admins</h1>

      <%= form_tag admin_update_all_users_path do %>
        <% @users.each do |user| %>
          <%= fields_for "users[]", user do |f| %>
            <h4>
            <%= f.check_box :admin %>
            <%= f.label user["username"] %>
            </h4>
          <% end %>
        <% end %>
        <%= submit_tag %>
      <% end %>

      <%= render 'welcome/back_admin_menu' %>

    </div>
  </div>
</div>