<h1>Welcome, Admin <%= @user.username %></h1>

<p>Hello, <%= @user.first_name %></p>

<ul>
    <li><%= link_to "Select Enabled Topics", topics_edit_all_path %></li>

    <li><%= link_to "Manage Users", users_path %></li>

    <li> <%= link_to "Manage Admins", admin_edit_all_users_path %> </li>

    <li><%= link_to "Randomly Add Questions from Open Trivia", questions_random_path %></li>

    <li><%= link_to "Create a New Question", new_question_path %></li>

    <li><%= link_to "Game Log", games_path %></li>

    <li><%= link_to "Add New Image", new_image_path %></li>

    <li><%= link_to "Image Answer Key", images_path %></li>

</ul>

<%= button_to "Logout", logout_path, method: :delete, data:
{ confirm: "Are you sure you want to logout?" } %>