<h1>Welcome, Admin <%= @user.username %></h1>

<p>Hello, <%= @user.first_name %></p>

<%= link_to "Select Enabled Topics", topics_edit_all_path %><br />

<%= link_to "Manage Users", users_path %><br />

<%= link_to "Randomly Add Questions from Open Trivia", questions_random_path %><br />

<%= link_to "Create a New Question" new_question_path %>

<%= link_to "Game Log", games_path %>


<%= button_to "Logout", logout_path, method: :delete %>