<%= render 'layouts/header' %>

<div class="container">
  <div class="row">
<!--    <div class="row">-->
<!--      <div class="offset-3 col-6 offset-3">-->
<!--        <h1 style="text-align: center">Welcome, <%#= @user.username %></h1>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->


    <div class="main offset-3 col-6 offset-3">
              <h1 style="text-align: center">Welcome, <%= @user.username %></h1>

            <h3>Admin Menu</h3>
<!--            <h3>Hello, <%#= @user.first_name %></h3>-->

      <%= render 'layouts/flash' %>

      <div class="main_-_buttons">
        <%= button_to "Select Enabled Topics", topics_edit_all_path, method: :get %>

        <%= button_to "Manage Users", users_path, method: :get %>

         <%= button_to "Manage Admins", admin_edit_all_users_path, method: :get %> 

        <%= button_to "Randomly Add Questions from Open Trivia", questions_random_path, method: :get %>

        <%= button_to "Create a New Question", new_question_path, method: :get %>

        <%= button_to "Game Log", games_path, method: :get %>

        <%= button_to "Add New Image", new_image_path, method: :get %>

        <%= button_to "Image Answer Key", images_path, method: :get %>

        <%= button_to "User View", root_path, method: :get %>

        <%= button_to "Logout", logout_path, method: :delete, data:
            {confirm: "Are you sure you want to logout?"} %>
      </div>
    </div>
  </div>
</div>
