<h1>Welcome, <%= @user.username %></h1>

<p>Hello, <%= @user.first_name %></p>

<%= render 'layouts/flash'%>

<ul>
    <li><%= button_to "Start a New Game", new_game_path, method: :get %></li>
    <li><%= button_to "My Profile", @user, method: :get %></li>
    <li><%= button_to "Edit Profile", edit_user_path(@user), method: :get %></li>
    <li><%= button_to "Logout", logout_path, method: :delete, data:
        { confirm: "Are you sure you want to logout?" } %></li>
</ul>

