
<div class="play_-_selections offset-1 col-10 offset-1">
  <div class="row">
    
      <div class="play_-_selections_--_select col-5 offset-1 float-left">
          <%= form_tag playing_game_path(@game), method: :patch do %>
            <%= hidden_field_tag 'answer', @answers.first.id %>
            <h2><%= submit_tag raw(@answers.first.answer) %><h2>
            <h3>A</h3>
          <% end %>
      </div>


    <div class="play_-_selections_--_select col-5 offset-1">
          <%= form_tag playing_game_path(@game), method: :patch do %>
            <%= hidden_field_tag 'answer', @answers.second.id %>
            <h2><%= submit_tag raw(@answers.second.answer) %><h2>
            <h3>A</h3>
          <% end %>
    </div>
  </div>

  <% if @answers.count > 2 %>
  <div class="row">
    <div class="play_-_selections_--_select col-5 offset-1">
      <%= form_tag playing_game_path(@game), method: :patch do %>
        <%= hidden_field_tag 'answer', @answers.third.id %>
        <h2><%= submit_tag raw(@answers.third.answer) %><h2>
        <h3>A</h3>
      <% end %>
    </div>

    <div class="play_-_selections_--_select col-5 offset-1">
          <%= form_tag playing_game_path(@game), method: :patch do %>
            <%= hidden_field_tag 'answer', @answers.fourth.id %>
            <h2><%= submit_tag raw(@answers.fourth.answer) %><h2>
            <h3>A</h3>
          <% end %>
    </div>
    <% end %>
  </div>
</div>  


<%# = form_tag playing_game_path(@game), method: :patch do %>
<%# @question.answers.each do |answer| %>
<!--    <li>-->
<%#= radio_button_tag("answer", answer.id) %>
<%#= label("answer".concat(answer.id.to_s).to_sym, raw(answer.answer)) %>
<!--    </li>-->
<%# end %>
<%#= submit_tag "Final Answer" %>
<%# end %>