<div class="main_-_form">


    <%= render 'layouts/flash' %>

    <%= form_for image do |f| %>
        <center>
        <%= f.text_field :img_url, placeholder: "Image URL" %><br />
        <%= f.text_field :answer, placeholder: "Answer" %><br />
        <%= f.submit %>
        </center>
    <% end %>
    <%= render 'welcome/back_admin_menu' %>

</div>

