<!DOCTYPE html>
<html>
  <head>
    <title>TrubyaRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="../../assets/fontawesome/css/all.css" rel="stylesheet">
<!--    <link href="../../assets/fontawesome/css/fontawesome.css" rel="stylesheet">-->
<!--    <link href="../../assets/fontawesome/css/brands.css" rel="stylesheet">-->
<!--    <link href="../../assets/fontawesome/css/solid.css" rel="stylesheet">-->

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
  <script src="https://kit.fontawesome.com/5d112267ca.js" crossorigin="anonymous"></script>
</html>
